.items {
  color: rgb(28, 29, 30);
  display: flex;
  justify-content: center;
  align-items: center;
}

.details {
  margin: 20px 100px;
  width: 270px;
}

.details > * {
  margin: 5px;
}

.details > p:nth-child(2) {
  background-color: rgb(225,225,225);
}
.details > p:nth-child(4) {
  background-color: rgb(225,225,225);
}
.details > p:nth-child(6) {
  background-color: rgb(225,225,225);
}
.details > p:nth-child(8) {
  background-color: rgb(225,225,225);
}
.details > p:nth-child(10) {
  background-color: rgb(225,225,225);
}
.details > p:nth-child(12) {
  background-color: rgb(225,225,225);
}
.details > p:nth-child(14) {
  background-color: rgb(225,225,225);
}
.details > p:nth-child(16) {
  background-color: rgb(225, 225, 225);
}
