.nav{
     background-color: black;
     height:80px ;
     padding: 25px;
}

.n-items{
     display: flex;
     justify-content:space-between;
     align-items: center;
     color: #fff; 
     width: 100%;
}


h1{
     font-weight: 900;
}

h3{
     color: rgb(196, 196, 196);
}