.nav{
     height: 70px;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 100px;
     font-size: 20px;
     width: 100%;
     border:1px solid ;
}
.nav>*{
     text-decoration: none;
}